.messenger {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
}
.messenger_wrapper {
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    width: 100%;
    padding: 1rem;
    max-width: 40rem;
}

.messenger_header {
    display: flex;
    flex-direction: row;
}

.messenger_exit {
    width: 10%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #5DB075;
    background:none;
    border:none;
    padding-top: 0.75rem;
    cursor: pointer;
}

.messenger_title {
    width: 90%;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #000000;
}

.chat_box{
    width: 100%;
    height: 70%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.message_input_container{
    padding: 0.5rem 0.2rem 0.5rem 0.5rem;
    background: #F6F6F6;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
    height: 25px;
    margin-top: 2rem;
}

.messenger_input {
    width: 90%;
    box-sizing: border-box;
    background: #F6F6F6;
    border: 1px solid #F6F6F6;
    border-radius: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    height: 100%;
    outline: none !important;

}

.message_input_container:focus {
    outline: none !important;
    border: 1px solid #5DB075;
}

.message_input_container:hover {
    outline: none !important;
    border: 1px solid #5DB075;
}

.message_input_icon {
    background-color: #5DB075;
    border-radius: 9999px;
    width: 10px;
    height: 10px;
    padding-left: 0.9rem;
    padding-top: 0.75rem;
    padding-bottom: 1rem;
    padding-right: 0.9rem;
    align-content: center;
    align-items: center;
    position: absolute;
    right: 0.25rem;
    cursor: pointer;
}

.message_input_icon:hover {
    background: #3e8653;
}
