.login {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
}
.login_wrapper {
    display: flex;
    flex-direction: column;
}

.login_title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.login_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_input {
    background: #e8e8e8;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    min-height: 50px;
    padding: 1rem;
}
.login_input:focus {
    outline: none !important;
    border: 1px solid #5DB075;
}

.login_input:hover {
    outline: none !important;
    border: 1px solid #5DB075;
}

::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #BDBDBD;
}

.login_button {
    width: 100%;
    background: #5DB075;
    border: 1px solid #E8E8E8;
    border-radius: 100px;
    margin-top: 6rem;
    margin-bottom: 0.75rem;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 0.25rem;
    min-height: 50px;
}
.login_button:hover {
    background: #3e8653;
}

.alert{
    color: red;
    font-size: 12px;
    font-weight: 600;

}
