
.message_box {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
}

.message_text {
    background: #F6F6F6;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    background-color: rgb(245, 241, 241);
    max-width: 75%;
    border-radius: 10px;
    padding: 8px 15px;
    display: inline-block;
    overflow-wrap: break-word;
}

.not_own {
    align-items: flex-start;
}

.not_own .message_text{
    margin-right: 25%;
    background-color: #F6F6F6;
    position: relative;
    color: black;
    border-bottom-left-radius: 0;
}

.not_own .message_text.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -4px;
  left: 0px;
  width: 10px;
  height: 20px;
  background: #F6F6F6;
  border-bottom-right-radius: 20px;
}

.own {
    align-items: flex-end;
}

.own .message_text{
    margin-left: 25%;
    background-color: #5DB075;
    position: relative;
    color: white;
}

.own .message_text.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -4px;
  right: 0px;
  width: 10px;
  height: 20px;
  background: #5DB075;
  border-bottom-left-radius: 20px;
}


.message_sender {
    font-size: 12px;
    margin-bottom: 0.25rem;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
}
