
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter'), local('Inter'),
       url('./assets/fonts/Inter-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
  margin: 0;
  font-family:'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (min-device-width: 640px) {
  ::-webkit-scrollbar {
    display: none;
  }
}